@font-face{
    font-family:Roobert;
    src:url("./Roobert-Regular.woff2") format("woff2"),url("./Roobert-Regular.woff") format("woff");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:Roobert;
    src:url("./Roobert-RegularItalic.woff2") format("woff2"),url("./Roobert-RegularItalic.woff") format("woff");
    font-weight:400;
    font-style:italic;
    font-display:swap
}
@font-face{
    font-family:"Roobert Pro";
    src:local("Roobert Pro"),url("./RoobertPRO-Regular.woff2") format("woff2"),url("./RoobertPRO-Regular.woff") format("woff");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:"Roobert Pro";
    src:local("Roobert Pro"),url("./RoobertPRO-RegularItalic.woff2") format("woff2"),url("./RoobertPRO-RegularItalic.woff") format("woff");
    font-weight:400;
    font-style:italic;
    font-display:swap
}
@font-face{
    font-family:"Roobert Pro";
    src:local("Roobert Pro"),url("./RoobertPRO-Bold.woff2") format("woff2"),url("./RoobertPRO-Bold.woff") format("woff");
    font-weight:700;
    font-style:normal;
    font-display:swap
}


@font-face {
    font-family: maze-m-icons;
    src: url("./maze-m-icons-0f78edcd088eff7ad25f31cf5cce9c33.woff2") format("woff2"), url("./maze-m-icons-c05731c8d4ee9f424bd2da65f01f8a28.woff") format("woff")
}